<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="{{ .Author }}" />
        <meta name="description" content="{{ .Description }}" />
        <title>{{ .TitlePlain }}</title>
        <link rel="canonical" href="{{ .Permalink }}" />
        <link rel="license" href="/license/" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
        <style>
            {{ .CSS }}
        </style>
    </head>
    <body>
        <header>
            {{ .Title }} {{ if ne .Created "" }}
            <p class="subtitle">
                {{ .Created }}{{ if and (ne .Updated "") (ne .Updated .Created)
                }}, updated {{ .Updated }}{{ end }}
            </p>
            {{ end }}
        </header>
        {{ .Content }}
        <footer>
            {{ if not .HideHome }}&larr; <a href="/" rel="index">Home</a ><br />{{ end }}
            &copy; 2012&ndash;{{ .EndCopyright }} <a href="/colophon/" rel="author">Akshay Shah</a>{{ if not .HideLicense }}, licensed <a href="/license/" rel="license">permissively</a>.{{ end }}
        </footer>
    </body>
</html>
