@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Fira+Mono&display=swap');

html {
    font-size: 18px;
    font-family: Cardo, serif;
    text-rendering: optimizeLegibility;
}

body {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    background-color: #fffff8;
    color: #111;
    line-height: 1.4rem;
}

footer {
    font-size: 0.8rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

header {
    margin-top: 7rem;
    margin-bottom: 3rem;
}

h1 {
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 2.3em;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
}

.subtitle {
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0;
}

code {
    font-size: 0.85em;
    font-family: "Fira Mono", monospace;
}

pre {
    margin: 0 1rem;
    overflow: auto;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

blockquote {
    margin: 0 1rem;
}

cite::before {
    content: "—";
}

.post-list {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

.post-list .post-date {
    font-style: italic;
    filter: brightness(130%);
    display: inline-block;
    min-width: 5em;
    text-align: end;
}

img {
    padding: 0;
    border: 0;
    margin: 1rem 0;
    max-width: 100%;
}

table {
    empty-cells: show;
    overflow-x: auto;
    clear: left;
    text-align: center;
    margin: 1rem 0;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-variant-numeric: tabular-nums;
}

tbody td {
    vertical-align: top;
}

thead th {
    border-bottom: 1px dotted;
    font-weight: 400;
}

th, tr {
    padding: 0 1rem;
}

