{{ partial "header.html" . }}

<header>
    <h1>{{ .Site.Params.Author }}</h1>
</header>

<article>

    <p>Hi there! I&rsquo;m Akshay, and you've stumbled across my oft-neglected
    blog.  I&rsquo;ve been a medical student, a public school teacher, an EMT,
    and (briefly) a spammer; these days, I herd bits as a software engineer at
    <a href="http://eng.uber.com/">Uber</a>. Shoot me an
    <a href="mailto:{{ .Site.Params.AuthorEmail }}">email</a> and say hello,
    or <a href="/colophon/">read a bit more about me</a>.</p>

    <h2>Writing</h2>
    <ol class="post-list">
    {{ range where .Data.Pages "Type" "post"}}
      {{ .Render "summary" }}
    {{ end }}
    </ol>

</article>

{{ partial "footer.html" . }}
