.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.table-caption {
    float:right;
    clear:right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.6;
}

input.margin-toggle {
    display: none;
}

label.margin-toggle {
    display: none;
}

@media (max-width: 770px) {
    label.margin-toggle { display: inline; }
    .marginnote { display: none; }
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        clear: both;
        width: 90%;
        margin: 0.8rem 5%;
        vertical-align: baseline;
        position: relative;
    }
    label { cursor: pointer; }
}
