table {
    empty-cells: show;
    overflow-x: auto;
    clear: left;
    text-align: center;
    margin: 1rem 0;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-variant-numeric: tabular-nums;
}

tbody td {
    vertical-align: top;
}

thead th {
    border-bottom: 1px dotted;
    font-weight: 400;
}
