//
// Typography & Base Rhythm
// ------------------------
$maxFontSize: 22px;
$minFontSize: 16px;
$maxWidth: 1400px;
$measure: 35rem;

$ratio: 1.618;
$lineHeight: $ratio;
$v: ($lineHeight * 1rem);

$serifStack: "Cardo", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$monoStack: "Inconsolata", Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
$bodyStack: $serifStack;
$codeStack: $monoStack;

$textColor: #111;
$backgroundColor: #fffff8;
